#main{
    background-color: #EEEEEE;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;;
}
#main #header{
    text-align: center;
    padding: 10px;
}
#title{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    color: #333333;
}
#img-div{
    padding: 10px;
    background-color: white;
    text-align: center;
    margin: 10px;
}
#image{
    max-width: 100%;
    height: auto;
}
#tribute-info{
    text-align: center;
    padding: 20px;
    background-color: #EEEEEE;
}
#tribute-list{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #333333;
}
#tribute-list ul{
    width:600px;
}
#tribute-list ul li{
    margin: 16px;
}
#footer{
    text-align: center;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
#tribute-list p{
    font-style: italic;
    margin-top: 45px;
}
#footer h3{
    color: #333333;
}
